label {
  margin-right: 10px;
}

input, textarea, select {
  color: #444;
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #ddd;
}

input {
  padding: 6px 8px;
}

select {
  min-width: 80px;
}

textarea {
  resize: none;
  padding: 10px;
}

.form-line {
  display: flex;
  margin: 12px 0;
  font-size: 14px;
  align-items: center;
}

.form {
  .form-line {
    &.submit {
      justify-content: flex-end;
    }
    &.textarea {
      align-items: flex-start;
    }
    label {
      min-width: 30px;
      color: #666;
    }
    input, textarea {
      flex: 1;
      max-width: 100%; 
    }
    textarea {
      height: 160px;
    }
  }
}