#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: deepskyblue;
  min-height: $header-height;
  .menu {
    display: flex;
    justify-content: center;
    > li { margin: 0 6px; }
  }
  .user {
    font-size: 14px;
    display: flex;
    margin-right: 6px;
    > li { margin: 0 3px; }
  }
  a {
    color: #fff;
    display: flex;
    align-items: center;
    height: $header-height;
    &:hover {
      color: #f4f4f4;
    }
  }
}

#logo {
  color: #fff;
  font-size: 20px;
  margin-left: 6px;
  font-weight: normal;
}

@media (max-width: 767px) {
  #logo {
    padding-top: 1px;
  }
  #header {
    .menu {
      order: 1;
    }
  }
}
