#header {
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: deepskyblue;
  .menu {
    display: flex;
    justify-content: center;
    > li { margin: 0 6px; }
    @media (max-width: 320px) {
      font-size: 14px;
    }
  }
  .user {
    font-size: 14px;
    display: flex;
    margin-right: 6px;
    > li { margin: 0 3px; }
  }
  a {
    color: #fff;
    display: flex;
    align-items: center;
    height: $header-height;
    &:hover {
      color: #f4f4f4;
    }
  }
}

#logo {
  color: #fff;
  font-size: 18px;
  margin-left: 6px;
  font-weight: normal;
  display: inline-block;
}
