* { 
  outline: 0;
  box-sizing: border-box;
}

a {
  color: $link-color;
  text-decoration: none;
  &:visited {
    color: #888;
  }
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

input, textarea, button {
  border: 0;
  -webkit-appearance: none;
}