@import "vars";
@import "reset";
@import "header";

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: $link-color;
}

#fe13 {
  margin: auto;
  max-width: 1000px;
}




