@import "vars";
@import "reset";
@import "form";
@import "button";
@import "header";
@import "footer";
@import "posts";

#fe13 {
  margin: auto;
  max-width: 960px;
}

#main {
  color: #333;
  padding: 10px;
  min-height: 420px;
  background: #f8f8f8;
  border-bottom: 3px solid rgba(0, 191, 255, .8);
}




