h1#logo
  a(href="/") #{appName}
ul.menu
  li
    a(href="#") 新闻
  li
    a(href="#") 作品
  li
    a(href="#") 工作
  li
    a(href="#") 笑话
  li
    a(href="/posts/new") + 
ul.user
  li
    a 登录
  li
    a 注册