h1#logo 
  a(href="/" ) #{appName}
ul.menu
  li
    a(href="/") 全部
  li
    a(href="/news") 新闻
  li
    a(href="/work") 作品
  li
    a(href="/jobs") 工作
  li
    a(href="/joke") 笑话
  li
    a(href="/posts/new") + 
ul.user
  li
    a 登录
  li
    a 注册