<!DOCTYPE html>
html(lang="zh-CN")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="shortcut icon" href="/images/logo.png")
  link(rel="stylesheet", href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css")
  link(rel="stylesheet", href="/stylesheets/app.css")
  title= title
body
  div#fe13
    header#header
      block header
        include ../includes/header
    main#main
      block content
    footer#footer
      block footer
        include ../includes/footer