doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#fe13  
      block content
