* {
  outline: 0;
  box-sizing: border-box; }

a {
  color: #0079d8;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif; }

input, textarea, button {
  border: 0;
  -webkit-appearance: none; }

label {
  margin-right: 10px; }

input, textarea, select {
  color: #444;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  border: 1px solid #ddd; }

input {
  padding: 6px 8px; }

select {
  min-width: 80px; }

textarea {
  resize: none;
  padding: 10px; }

.form-line {
  display: flex;
  margin: 12px 0;
  font-size: 14px;
  align-items: center; }

.form .form-line.submit {
  justify-content: flex-end; }

.form .form-line.textarea {
  align-items: flex-start; }

.form .form-line label {
  min-width: 30px;
  color: #666; }

.form .form-line input, .form .form-line textarea {
  flex: 1;
  max-width: 100%; }

.form .form-line textarea {
  height: 160px; }

button {
  color: #555;
  cursor: pointer;
  padding: 6px 14px;
  background: #fff;
  border-radius: 2px;
  font-size: 14px;
  transition: .1s;
  border: 1px solid #ccc; }
  button:hover {
    border-color: #999; }

#header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: deepskyblue;
  min-height: 30px; }
  #header .menu {
    display: flex;
    justify-content: center; }
    #header .menu > li {
      margin: 0 6px; }
  #header .user {
    font-size: 14px;
    display: flex;
    margin-right: 6px; }
    #header .user > li {
      margin: 0 3px; }
  #header a {
    color: #fff;
    display: flex;
    align-items: center;
    height: 30px; }
    #header a:hover {
      color: #f4f4f4; }

#logo {
  color: #fff;
  font-size: 20px;
  margin-left: 6px;
  font-weight: normal; }

@media (max-width: 767px) {
  #logo {
    padding-top: 1px; }
  #header .menu {
    order: 1;
    flex-basis: 100%;
    justify-content: flex-start; } }

#footer {
  color: #666;
  margin: 15px 0;
  font-size: 14px;
  text-align: center; }
  #footer .welcome {
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px; }
    #footer .welcome a {
      color: orangered; }

.post-form {
  max-width: 60%;
  min-width: 280px;
  margin: 30px auto; }

.post-main {
  display: flex;
  font-size: 14px;
  margin-top: 10px;
  align-items: center; }
  .post-main .post-rank {
    color: #666;
    min-width: 22px;
    text-align: right;
    margin-right: 6px; }
  .post-main .post-title {
    margin: 5px 0;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
    .post-main .post-title a:visited {
      color: #888; }

.post-info {
  color: #777;
  font-size: 13px;
  display: flex; }
  .post-info .post-link {
    color: #777;
    cursor: pointer;
    margin-left: 10px; }
    .post-info .post-link:hover {
      text-decoration: underline; }
  .post-info .post-score {
    margin-left: 6px; }
  .post-info .post-upvote {
    height: 13px;
    min-width: 22px;
    cursor: pointer;
    position: relative; }
    .post-info .post-upvote::after {
      top: 1px;
      right: 3px;
      content: '';
      display: block;
      position: absolute;
      border-bottom: 10px solid #666;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent; }

.post-show {
  padding: 10px; }
  .post-show .post-title {
    font-size: 17px;
    font-weight: bold;
    font-weight: normal;
    line-height: 1.4;
    display: block;
    margin-bottom: 5px; }
  .post-show .post-text {
    color: #666;
    font-size: 14px;
    line-height: 1.5; }

.more-posts {
  color: #666;
  font-size: 14px;
  margin-top: 12px;
  margin-left: 26px;
  display: inline-block; }

#fe13 {
  margin: auto;
  max-width: 960px; }

#main {
  color: #333;
  min-height: 420px;
  padding: 5px 8px 15px;
  background: #f6f6f6;
  border-bottom: 3px solid rgba(0, 191, 255, 0.8); }
