extends ../layouts/application

include ../posts/_type

block content
  each post, index in posts
    .post-item
      .post-rank
        | #{index + 1}.
      .post-type
        | [
        +type(post)
        | ]
      .post-title
        a(href=`${post.url}`)= post.title