extends ../layouts/welcome

block header
  h1 欢迎来到 FE13

block content
  p FE13 是一个分享新闻，作品，工作和笑话的平台。
  p 任何人都可以在这里发布有趣的见闻和作品，只要不涉及个人攻击或危害国家社会安全。
  p 在发布消息前，你需要先
    a(href="#") 登录
    | 或
    a(href="#") 注册
    | 。
  p 你也可以返回
    a(href="/") 首页
    | 。